[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/directx-headers"]
	path = thirdparty/directx-headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "thirdparty/tinygltf"]
	path = thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "thirdparty/D3D12MemoryAllocator"]
	path = thirdparty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "thirdparty/directxTex"]
	path = thirdparty/directxTex
	url = https://github.com/microsoft/DirectXTex.git
